{"swagger":"2.0","info":{"description":"This is Rest API Documentation","version":"1.0.0","contact":{"email":"api@api.com"},"title":"Rest API","license":{"name":"API Generate","url":"http:\/\/api.socialcontrast.com"}},"host":"api.socialcontrast.com","basePath":"\/api\/plugin_creator\/andres","tags":[{"name":"admins","description":"admins API"},{"name":"commits","description":"commits API"},{"name":"plugins","description":"plugins API"},{"name":"system_admin_menu","description":"system_admin_menu API"},{"name":"system_admin_plugins","description":"system_admin_plugins API"}],"paths":{"\/admins\/read":{"get":{"tags":["admins"],"summary":"Read Admins","description":"Read Admins","operationId":"readAdmins","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"username","in":"query","description":"username","required":false,"type":"string"},{"name":"password","in":"query","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"query","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"query","description":"stocktaking_enabled","required":false,"type":"integer"},{"name":"crm_enabled","in":"query","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"query","description":"settings_enabled","required":false,"type":"integer"},{"name":"salesman_id","in":"query","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"query","description":"last_login_datetime","required":false,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"integer"},{"name":"cre_id","in":"query","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"query","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"query","description":"last_upd_date","required":false,"type":"string"},{"name":"last_upd_id","in":"query","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/create":{"post":{"tags":["admins"],"summary":"Create Admins","description":"Create Admins","operationId":"createAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"username","in":"formData","description":"username","required":false,"type":"string"},{"name":"password","in":"formData","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"formData","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"formData","description":"stocktaking_enabled","required":true,"type":"integer"},{"name":"crm_enabled","in":"formData","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"formData","description":"settings_enabled","required":true,"type":"integer"},{"name":"salesman_id","in":"formData","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"formData","description":"last_login_datetime","required":true,"type":"string"},{"name":"active","in":"formData","description":"active","required":true,"type":"integer"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"formData","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"formData","description":"last_upd_date","required":true,"type":"string"},{"name":"last_upd_id","in":"formData","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/update":{"put":{"tags":["admins"],"summary":"Update Admins","description":"Update Admins","operationId":"updateAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"username","in":"formData","description":"username","required":false,"type":"string"},{"name":"password","in":"formData","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"formData","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"formData","description":"stocktaking_enabled","required":true,"type":"integer"},{"name":"crm_enabled","in":"formData","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"formData","description":"settings_enabled","required":true,"type":"integer"},{"name":"salesman_id","in":"formData","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"formData","description":"last_login_datetime","required":true,"type":"string"},{"name":"active","in":"formData","description":"active","required":true,"type":"integer"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"formData","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"formData","description":"last_upd_date","required":true,"type":"string"},{"name":"last_upd_id","in":"formData","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/delete":{"delete":{"tags":["admins"],"summary":"Delete Admins","description":"Delete Admins","operationId":"deleteAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/addupdate":{"post":{"tags":["admins"],"summary":"AddUpdate Admins","description":"AddUpdate Admins","operationId":"addupdateAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"username","in":"formData","description":"username","required":false,"type":"string"},{"name":"password","in":"formData","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"formData","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"formData","description":"stocktaking_enabled","required":true,"type":"integer"},{"name":"crm_enabled","in":"formData","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"formData","description":"settings_enabled","required":true,"type":"integer"},{"name":"salesman_id","in":"formData","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"formData","description":"last_login_datetime","required":true,"type":"string"},{"name":"active","in":"formData","description":"active","required":true,"type":"integer"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"formData","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"formData","description":"last_upd_date","required":true,"type":"string"},{"name":"last_upd_id","in":"formData","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/read":{"get":{"tags":["commits"],"summary":"Read Commits","description":"Read Commits","operationId":"readCommits","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"plugin_name","in":"query","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"},{"name":"is_commited","in":"query","description":"is_commited","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/create":{"post":{"tags":["commits"],"summary":"Create Commits","description":"Create Commits","operationId":"createCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"is_commited","in":"formData","description":"is_commited","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/update":{"put":{"tags":["commits"],"summary":"Update Commits","description":"Update Commits","operationId":"updateCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"plugin_name","in":"formData","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"is_commited","in":"formData","description":"is_commited","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/delete":{"delete":{"tags":["commits"],"summary":"Delete Commits","description":"Delete Commits","operationId":"deleteCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/addupdate":{"post":{"tags":["commits"],"summary":"AddUpdate Commits","description":"AddUpdate Commits","operationId":"addupdateCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"plugin_name","in":"formData","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"is_commited","in":"formData","description":"is_commited","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/plugins\/read":{"get":{"tags":["plugins"],"summary":"Read Plugins","description":"Read Plugins","operationId":"readPlugins","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"PLUGIN_NAME","in":"query","description":"PLUGIN_NAME","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"PLUGIN_VERSION","in":"query","description":"PLUGIN_VERSION","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"PLUGIN_STATUS","in":"query","description":"PLUGIN_STATUS","required":false,"type":"string"},{"name":"PLUGIN_TYPE","in":"query","description":"PLUGIN_TYPE","required":false,"type":"string"},{"name":"PLUGIN_TYPE_VERSION","in":"query","description":"PLUGIN_TYPE_VERSION","required":false,"type":"string"},{"name":"PLUGIN_LIBRARY","in":"query","description":"PLUGIN_LIBRARY","required":false,"type":"string"},{"name":"PLUGIN_LIBRARY_VERSION","in":"query","description":"PLUGIN_LIBRARY_VERSION","required":false,"type":"string"},{"name":"PLUGIN_AUTHOR","in":"query","description":"PLUGIN_AUTHOR","required":false,"type":"string"},{"name":"PLUGIN_DESCRIPTION","in":"query","description":"PLUGIN_DESCRIPTION","required":false,"type":"string"},{"name":"PLUGIN_LICENSE","in":"query","description":"PLUGIN_LICENSE","required":false,"type":"string"},{"name":"LOAD_OPTION","in":"query","description":"LOAD_OPTION","required":false,"type":"string"},{"name":"PLUGIN_MATURITY","in":"query","description":"PLUGIN_MATURITY","required":false,"type":"string"},{"name":"PLUGIN_AUTH_VERSION","in":"query","description":"PLUGIN_AUTH_VERSION","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/plugins\/create":{"post":{"tags":["plugins"],"summary":"Create Plugins","description":"Create Plugins","operationId":"createPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"PLUGIN_NAME","in":"formData","description":"PLUGIN_NAME","required":true,"type":"string"},{"name":"PLUGIN_VERSION","in":"formData","description":"PLUGIN_VERSION","required":true,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"PLUGIN_STATUS","in":"formData","description":"PLUGIN_STATUS","required":true,"type":"string"},{"name":"PLUGIN_TYPE","in":"formData","description":"PLUGIN_TYPE","required":true,"type":"string"},{"name":"PLUGIN_TYPE_VERSION","in":"formData","description":"PLUGIN_TYPE_VERSION","required":true,"type":"string"},{"name":"PLUGIN_LIBRARY","in":"formData","description":"PLUGIN_LIBRARY","required":false,"type":"string"},{"name":"PLUGIN_LIBRARY_VERSION","in":"formData","description":"PLUGIN_LIBRARY_VERSION","required":false,"type":"string"},{"name":"PLUGIN_AUTHOR","in":"formData","description":"PLUGIN_AUTHOR","required":false,"type":"string"},{"name":"PLUGIN_DESCRIPTION","in":"formData","description":"PLUGIN_DESCRIPTION","required":false,"type":"string"},{"name":"PLUGIN_LICENSE","in":"formData","description":"PLUGIN_LICENSE","required":true,"type":"string"},{"name":"LOAD_OPTION","in":"formData","description":"LOAD_OPTION","required":true,"type":"string"},{"name":"PLUGIN_MATURITY","in":"formData","description":"PLUGIN_MATURITY","required":true,"type":"string"},{"name":"PLUGIN_AUTH_VERSION","in":"formData","description":"PLUGIN_AUTH_VERSION","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/plugins\/update":{"put":{"tags":["plugins"],"summary":"Update Plugins","description":"Update Plugins","operationId":"updatePlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"PLUGIN_NAME","in":"formData","description":"PLUGIN_NAME","required":true,"type":"string"},{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"PLUGIN_VERSION","in":"formData","description":"PLUGIN_VERSION","required":true,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"PLUGIN_STATUS","in":"formData","description":"PLUGIN_STATUS","required":true,"type":"string"},{"name":"PLUGIN_TYPE","in":"formData","description":"PLUGIN_TYPE","required":true,"type":"string"},{"name":"PLUGIN_TYPE_VERSION","in":"formData","description":"PLUGIN_TYPE_VERSION","required":true,"type":"string"},{"name":"PLUGIN_LIBRARY","in":"formData","description":"PLUGIN_LIBRARY","required":false,"type":"string"},{"name":"PLUGIN_LIBRARY_VERSION","in":"formData","description":"PLUGIN_LIBRARY_VERSION","required":false,"type":"string"},{"name":"PLUGIN_AUTHOR","in":"formData","description":"PLUGIN_AUTHOR","required":false,"type":"string"},{"name":"PLUGIN_DESCRIPTION","in":"formData","description":"PLUGIN_DESCRIPTION","required":false,"type":"string"},{"name":"PLUGIN_LICENSE","in":"formData","description":"PLUGIN_LICENSE","required":true,"type":"string"},{"name":"LOAD_OPTION","in":"formData","description":"LOAD_OPTION","required":true,"type":"string"},{"name":"PLUGIN_MATURITY","in":"formData","description":"PLUGIN_MATURITY","required":true,"type":"string"},{"name":"PLUGIN_AUTH_VERSION","in":"formData","description":"PLUGIN_AUTH_VERSION","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/plugins\/delete":{"delete":{"tags":["plugins"],"summary":"Delete Plugins","description":"Delete Plugins","operationId":"deletePlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/plugins\/addupdate":{"post":{"tags":["plugins"],"summary":"AddUpdate Plugins","description":"AddUpdate Plugins","operationId":"addupdatePlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"PLUGIN_NAME","in":"formData","description":"PLUGIN_NAME","required":true,"type":"string"},{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"PLUGIN_VERSION","in":"formData","description":"PLUGIN_VERSION","required":true,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"PLUGIN_STATUS","in":"formData","description":"PLUGIN_STATUS","required":true,"type":"string"},{"name":"PLUGIN_TYPE","in":"formData","description":"PLUGIN_TYPE","required":true,"type":"string"},{"name":"PLUGIN_TYPE_VERSION","in":"formData","description":"PLUGIN_TYPE_VERSION","required":true,"type":"string"},{"name":"PLUGIN_LIBRARY","in":"formData","description":"PLUGIN_LIBRARY","required":false,"type":"string"},{"name":"PLUGIN_LIBRARY_VERSION","in":"formData","description":"PLUGIN_LIBRARY_VERSION","required":false,"type":"string"},{"name":"PLUGIN_AUTHOR","in":"formData","description":"PLUGIN_AUTHOR","required":false,"type":"string"},{"name":"PLUGIN_DESCRIPTION","in":"formData","description":"PLUGIN_DESCRIPTION","required":false,"type":"string"},{"name":"PLUGIN_LICENSE","in":"formData","description":"PLUGIN_LICENSE","required":true,"type":"string"},{"name":"LOAD_OPTION","in":"formData","description":"LOAD_OPTION","required":true,"type":"string"},{"name":"PLUGIN_MATURITY","in":"formData","description":"PLUGIN_MATURITY","required":true,"type":"string"},{"name":"PLUGIN_AUTH_VERSION","in":"formData","description":"PLUGIN_AUTH_VERSION","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/read":{"get":{"tags":["system_admin_menu"],"summary":"Read SystemAdminMenu","description":"Read SystemAdminMenu","operationId":"readSystemAdminMenu","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"parent","in":"query","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"query","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"query","description":"display_name","required":false,"type":"string"},{"name":"link","in":"query","description":"link","required":false,"type":"string"},{"name":"priority","in":"query","description":"priority","required":false,"type":"integer"},{"name":"visible","in":"query","description":"visible","required":false,"type":"integer"},{"name":"target","in":"query","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"query","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"query","description":"date_created","required":false,"type":"string"},{"name":"upd_id","in":"query","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"query","description":"date_updated","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/create":{"post":{"tags":["system_admin_menu"],"summary":"Create SystemAdminMenu","description":"Create SystemAdminMenu","operationId":"createSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"parent","in":"formData","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"formData","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"formData","description":"display_name","required":true,"type":"string"},{"name":"link","in":"formData","description":"link","required":true,"type":"string"},{"name":"priority","in":"formData","description":"priority","required":true,"type":"integer"},{"name":"visible","in":"formData","description":"visible","required":true,"type":"integer"},{"name":"target","in":"formData","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/update":{"put":{"tags":["system_admin_menu"],"summary":"Update SystemAdminMenu","description":"Update SystemAdminMenu","operationId":"updateSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"parent","in":"formData","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"formData","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"formData","description":"display_name","required":true,"type":"string"},{"name":"link","in":"formData","description":"link","required":true,"type":"string"},{"name":"priority","in":"formData","description":"priority","required":true,"type":"integer"},{"name":"visible","in":"formData","description":"visible","required":true,"type":"integer"},{"name":"target","in":"formData","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/delete":{"delete":{"tags":["system_admin_menu"],"summary":"Delete SystemAdminMenu","description":"Delete SystemAdminMenu","operationId":"deleteSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/addupdate":{"post":{"tags":["system_admin_menu"],"summary":"AddUpdate SystemAdminMenu","description":"AddUpdate SystemAdminMenu","operationId":"addupdateSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"parent","in":"formData","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"formData","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"formData","description":"display_name","required":true,"type":"string"},{"name":"link","in":"formData","description":"link","required":true,"type":"string"},{"name":"priority","in":"formData","description":"priority","required":true,"type":"integer"},{"name":"visible","in":"formData","description":"visible","required":true,"type":"integer"},{"name":"target","in":"formData","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/read":{"get":{"tags":["system_admin_plugins"],"summary":"Read SystemAdminPlugins","description":"Read SystemAdminPlugins","operationId":"readSystemAdminPlugins","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"query","description":"plugin_name","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"version_date","in":"query","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"query","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"query","description":"date_created","required":false,"type":"string"},{"name":"upd_id","in":"query","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"query","description":"date_updated","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/create":{"post":{"tags":["system_admin_plugins"],"summary":"Create SystemAdminPlugins","description":"Create SystemAdminPlugins","operationId":"createSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":true,"type":"string"},{"name":"status","in":"formData","description":"status","required":true,"type":"string"},{"name":"version_date","in":"formData","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/update":{"put":{"tags":["system_admin_plugins"],"summary":"Update SystemAdminPlugins","description":"Update SystemAdminPlugins","operationId":"updateSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":true,"type":"string"},{"name":"status","in":"formData","description":"status","required":true,"type":"string"},{"name":"version_date","in":"formData","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/delete":{"delete":{"tags":["system_admin_plugins"],"summary":"Delete SystemAdminPlugins","description":"Delete SystemAdminPlugins","operationId":"deleteSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/addupdate":{"post":{"tags":["system_admin_plugins"],"summary":"AddUpdate SystemAdminPlugins","description":"AddUpdate SystemAdminPlugins","operationId":"addupdateSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":true,"type":"string"},{"name":"status","in":"formData","description":"status","required":true,"type":"string"},{"name":"version_date","in":"formData","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}}},"definitions":{"Admins":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"username":{"type":"string","format":"varchar"},"password":{"type":"string","format":"varchar"},"pos_enabled":{"type":"integer","format":"tinyint"},"stocktaking_enabled":{"type":"integer","format":"tinyint"},"crm_enabled":{"type":"integer","format":"tinyint"},"settings_enabled":{"type":"integer","format":"tinyint"},"salesman_id":{"type":"integer","format":"int"},"last_login_datetime":{"type":"string","format":"datetime"},"active":{"type":"integer","format":"tinyint"},"cre_id":{"type":"integer","format":"int"},"created_date":{"type":"string","format":"datetime"},"last_upd_date":{"type":"string","format":"datetime"},"last_upd_id":{"type":"integer","format":"int"}}},"Commits":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"plugin_name":{"type":"string","format":"varchar"},"name":{"type":"string","format":"varchar"},"description":{"type":"string","format":"varchar"},"created_at":{"type":"string","format":"timestamp"},"is_commited":{"type":"integer","format":"int"}}},"Plugins":{"type":"object","properties":{"PLUGIN_NAME":{"type":"string","format":"varchar"},"id":{"type":"integer","format":"int"},"PLUGIN_VERSION":{"type":"string","format":"varchar"},"name":{"type":"string","format":"varchar"},"PLUGIN_STATUS":{"type":"string","format":"varchar"},"PLUGIN_TYPE":{"type":"string","format":"varchar"},"PLUGIN_TYPE_VERSION":{"type":"string","format":"varchar"},"PLUGIN_LIBRARY":{"type":"string","format":"varchar"},"PLUGIN_LIBRARY_VERSION":{"type":"string","format":"varchar"},"PLUGIN_AUTHOR":{"type":"string","format":"varchar"},"PLUGIN_DESCRIPTION":{"type":"string","format":"longtext"},"PLUGIN_LICENSE":{"type":"string","format":"varchar"},"LOAD_OPTION":{"type":"string","format":"varchar"},"PLUGIN_MATURITY":{"type":"string","format":"varchar"},"PLUGIN_AUTH_VERSION":{"type":"string","format":"varchar"}}},"SystemAdminMenu":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"parent":{"type":"integer","format":"int"},"plugin_name_fk":{"$ref":"#\/definitions\/SystemAdminPlugins"},"display_name":{"type":"string","format":"varchar"},"link":{"type":"string","format":"varchar"},"priority":{"type":"integer","format":"int"},"visible":{"type":"integer","format":"tinyint"},"target":{"type":"string","format":"varchar"},"cre_id":{"type":"integer","format":"int"},"date_created":{"type":"string","format":"datetime"},"upd_id":{"type":"integer","format":"int"},"date_updated":{"type":"string","format":"datetime"}}},"SystemAdminPlugins":{"type":"object","properties":{"plugin_name":{"type":"string","format":"varchar"},"status":{"type":"string","enum":["installed","uninstalled"],"default":"installed"},"version_date":{"type":"string","format":"date"},"cre_id":{"type":"integer","format":"int"},"date_created":{"type":"string","format":"datetime"},"upd_id":{"type":"integer","format":"int"},"date_updated":{"type":"string","format":"datetime"}}}}}