{"swagger":"2.0","info":{"description":"This is Rest API Documentation","version":"1.0.0","contact":{"email":"api@api.com"},"title":"Rest API","license":{"name":"API Generate","url":"http:\/\/api.demosocial.com"}},"host":"api.demosocial.com","basePath":"\/api\/test","tags":[{"name":"admins","description":"admins API"},{"name":"commits","description":"commits API"},{"name":"system_admin_menu","description":"system_admin_menu API"},{"name":"system_admin_plugins","description":"system_admin_plugins API"},{"name":"testing","description":"testing API"}],"paths":{"\/admins\/read":{"get":{"tags":["admins"],"summary":"Read Admins","description":"Read Admins","operationId":"readAdmins","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"username","in":"query","description":"username","required":false,"type":"string"},{"name":"password","in":"query","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"query","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"query","description":"stocktaking_enabled","required":false,"type":"integer"},{"name":"crm_enabled","in":"query","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"query","description":"settings_enabled","required":false,"type":"integer"},{"name":"salesman_id","in":"query","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"query","description":"last_login_datetime","required":false,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"integer"},{"name":"cre_id","in":"query","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"query","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"query","description":"last_upd_date","required":false,"type":"string"},{"name":"last_upd_id","in":"query","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/create":{"post":{"tags":["admins"],"summary":"Create Admins","description":"Create Admins","operationId":"createAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"username","in":"formData","description":"username","required":false,"type":"string"},{"name":"password","in":"formData","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"formData","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"formData","description":"stocktaking_enabled","required":true,"type":"integer"},{"name":"crm_enabled","in":"formData","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"formData","description":"settings_enabled","required":true,"type":"integer"},{"name":"salesman_id","in":"formData","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"formData","description":"last_login_datetime","required":true,"type":"string"},{"name":"active","in":"formData","description":"active","required":true,"type":"integer"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"formData","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"formData","description":"last_upd_date","required":true,"type":"string"},{"name":"last_upd_id","in":"formData","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/update":{"put":{"tags":["admins"],"summary":"Update Admins","description":"Update Admins","operationId":"updateAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"username","in":"formData","description":"username","required":false,"type":"string"},{"name":"password","in":"formData","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"formData","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"formData","description":"stocktaking_enabled","required":true,"type":"integer"},{"name":"crm_enabled","in":"formData","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"formData","description":"settings_enabled","required":true,"type":"integer"},{"name":"salesman_id","in":"formData","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"formData","description":"last_login_datetime","required":true,"type":"string"},{"name":"active","in":"formData","description":"active","required":true,"type":"integer"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"formData","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"formData","description":"last_upd_date","required":true,"type":"string"},{"name":"last_upd_id","in":"formData","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/delete":{"delete":{"tags":["admins"],"summary":"Delete Admins","description":"Delete Admins","operationId":"deleteAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/admins\/addupdate":{"post":{"tags":["admins"],"summary":"AddUpdate Admins","description":"AddUpdate Admins","operationId":"addupdateAdmins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"username","in":"formData","description":"username","required":false,"type":"string"},{"name":"password","in":"formData","description":"password","required":false,"type":"string"},{"name":"pos_enabled","in":"formData","description":"pos_enabled","required":false,"type":"integer"},{"name":"stocktaking_enabled","in":"formData","description":"stocktaking_enabled","required":true,"type":"integer"},{"name":"crm_enabled","in":"formData","description":"crm_enabled","required":false,"type":"integer"},{"name":"settings_enabled","in":"formData","description":"settings_enabled","required":true,"type":"integer"},{"name":"salesman_id","in":"formData","description":"salesman_id","required":false,"type":"integer"},{"name":"last_login_datetime","in":"formData","description":"last_login_datetime","required":true,"type":"string"},{"name":"active","in":"formData","description":"active","required":true,"type":"integer"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"created_date","in":"formData","description":"created_date","required":false,"type":"string"},{"name":"last_upd_date","in":"formData","description":"last_upd_date","required":true,"type":"string"},{"name":"last_upd_id","in":"formData","description":"last_upd_id","required":false,"type":"integer"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/read":{"get":{"tags":["commits"],"summary":"Read Commits","description":"Read Commits","operationId":"readCommits","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"plugin_name","in":"query","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"is_commited","in":"query","description":"is_commited","required":false,"type":"integer"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/create":{"post":{"tags":["commits"],"summary":"Create Commits","description":"Create Commits","operationId":"createCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"is_commited","in":"formData","description":"is_commited","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/update":{"put":{"tags":["commits"],"summary":"Update Commits","description":"Update Commits","operationId":"updateCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"plugin_name","in":"formData","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"is_commited","in":"formData","description":"is_commited","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/delete":{"delete":{"tags":["commits"],"summary":"Delete Commits","description":"Delete Commits","operationId":"deleteCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/commits\/addupdate":{"post":{"tags":["commits"],"summary":"AddUpdate Commits","description":"AddUpdate Commits","operationId":"addupdateCommits","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"plugin_name","in":"formData","description":"plugin_name","required":false,"type":"string"},{"name":"name","in":"formData","description":"name","required":false,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"is_commited","in":"formData","description":"is_commited","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/read":{"get":{"tags":["system_admin_menu"],"summary":"Read SystemAdminMenu","description":"Read SystemAdminMenu","operationId":"readSystemAdminMenu","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"parent","in":"query","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"query","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"query","description":"display_name","required":false,"type":"string"},{"name":"link","in":"query","description":"link","required":false,"type":"string"},{"name":"priority","in":"query","description":"priority","required":false,"type":"integer"},{"name":"visible","in":"query","description":"visible","required":false,"type":"integer"},{"name":"target","in":"query","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"query","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"query","description":"date_created","required":false,"type":"string"},{"name":"upd_id","in":"query","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"query","description":"date_updated","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/create":{"post":{"tags":["system_admin_menu"],"summary":"Create SystemAdminMenu","description":"Create SystemAdminMenu","operationId":"createSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"parent","in":"formData","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"formData","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"formData","description":"display_name","required":true,"type":"string"},{"name":"link","in":"formData","description":"link","required":true,"type":"string"},{"name":"priority","in":"formData","description":"priority","required":true,"type":"integer"},{"name":"visible","in":"formData","description":"visible","required":true,"type":"integer"},{"name":"target","in":"formData","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/update":{"put":{"tags":["system_admin_menu"],"summary":"Update SystemAdminMenu","description":"Update SystemAdminMenu","operationId":"updateSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"parent","in":"formData","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"formData","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"formData","description":"display_name","required":true,"type":"string"},{"name":"link","in":"formData","description":"link","required":true,"type":"string"},{"name":"priority","in":"formData","description":"priority","required":true,"type":"integer"},{"name":"visible","in":"formData","description":"visible","required":true,"type":"integer"},{"name":"target","in":"formData","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/delete":{"delete":{"tags":["system_admin_menu"],"summary":"Delete SystemAdminMenu","description":"Delete SystemAdminMenu","operationId":"deleteSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_menu\/addupdate":{"post":{"tags":["system_admin_menu"],"summary":"AddUpdate SystemAdminMenu","description":"AddUpdate SystemAdminMenu","operationId":"addupdateSystemAdminMenu","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"parent","in":"formData","description":"parent","required":false,"type":"integer"},{"name":"plugin_name_fk","in":"formData","description":"plugin_name_fk","required":false,"type":"string"},{"name":"display_name","in":"formData","description":"display_name","required":true,"type":"string"},{"name":"link","in":"formData","description":"link","required":true,"type":"string"},{"name":"priority","in":"formData","description":"priority","required":true,"type":"integer"},{"name":"visible","in":"formData","description":"visible","required":true,"type":"integer"},{"name":"target","in":"formData","description":"target","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/read":{"get":{"tags":["system_admin_plugins"],"summary":"Read SystemAdminPlugins","description":"Read SystemAdminPlugins","operationId":"readSystemAdminPlugins","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"query","description":"plugin_name","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"version_date","in":"query","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"query","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"query","description":"date_created","required":false,"type":"string"},{"name":"upd_id","in":"query","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"query","description":"date_updated","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/create":{"post":{"tags":["system_admin_plugins"],"summary":"Create SystemAdminPlugins","description":"Create SystemAdminPlugins","operationId":"createSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":true,"type":"string"},{"name":"status","in":"formData","description":"status","required":true,"type":"string"},{"name":"version_date","in":"formData","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/update":{"put":{"tags":["system_admin_plugins"],"summary":"Update SystemAdminPlugins","description":"Update SystemAdminPlugins","operationId":"updateSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":true,"type":"string"},{"name":"status","in":"formData","description":"status","required":true,"type":"string"},{"name":"version_date","in":"formData","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/delete":{"delete":{"tags":["system_admin_plugins"],"summary":"Delete SystemAdminPlugins","description":"Delete SystemAdminPlugins","operationId":"deleteSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/system_admin_plugins\/addupdate":{"post":{"tags":["system_admin_plugins"],"summary":"AddUpdate SystemAdminPlugins","description":"AddUpdate SystemAdminPlugins","operationId":"addupdateSystemAdminPlugins","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"plugin_name","in":"formData","description":"plugin_name","required":true,"type":"string"},{"name":"status","in":"formData","description":"status","required":true,"type":"string"},{"name":"version_date","in":"formData","description":"version_date","required":false,"type":"string"},{"name":"cre_id","in":"formData","description":"cre_id","required":false,"type":"integer"},{"name":"date_created","in":"formData","description":"date_created","required":true,"type":"string"},{"name":"upd_id","in":"formData","description":"upd_id","required":false,"type":"integer"},{"name":"date_updated","in":"formData","description":"date_updated","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/testing\/read":{"get":{"tags":["testing"],"summary":"Read Testing","description":"Read Testing","operationId":"readTesting","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"title","in":"query","description":"title","required":false,"type":"string"},{"name":"description1","in":"query","description":"description1","required":false,"type":"string"},{"name":"year","in":"query","description":"year","required":false,"type":"integer"},{"name":"created_id","in":"query","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"query","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"query","description":"updated_at","required":false,"type":"string"},{"name":"admin_id","in":"query","description":"admin_id","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/testing\/create":{"post":{"tags":["testing"],"summary":"Create Testing","description":"Create Testing","operationId":"createTesting","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"description1","in":"formData","description":"description1","required":false,"type":"string"},{"name":"year","in":"formData","description":"year","required":true,"type":"integer"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"},{"name":"admin_id","in":"formData","description":"admin_id","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/testing\/update":{"put":{"tags":["testing"],"summary":"Update Testing","description":"Update Testing","operationId":"updateTesting","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"description1","in":"formData","description":"description1","required":false,"type":"string"},{"name":"year","in":"formData","description":"year","required":true,"type":"integer"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"},{"name":"admin_id","in":"formData","description":"admin_id","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/testing\/delete":{"delete":{"tags":["testing"],"summary":"Delete Testing","description":"Delete Testing","operationId":"deleteTesting","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/testing\/addupdate":{"post":{"tags":["testing"],"summary":"AddUpdate Testing","description":"AddUpdate Testing","operationId":"addupdateTesting","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"description1","in":"formData","description":"description1","required":false,"type":"string"},{"name":"year","in":"formData","description":"year","required":true,"type":"integer"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"},{"name":"admin_id","in":"formData","description":"admin_id","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}}},"definitions":{"Admins":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"username":{"type":"string","format":"varchar"},"password":{"type":"string","format":"varchar"},"pos_enabled":{"type":"integer","format":"tinyint"},"stocktaking_enabled":{"type":"integer","format":"tinyint"},"crm_enabled":{"type":"integer","format":"tinyint"},"settings_enabled":{"type":"integer","format":"tinyint"},"salesman_id":{"type":"integer","format":"int"},"last_login_datetime":{"type":"string","format":"datetime"},"active":{"type":"integer","format":"tinyint"},"cre_id":{"type":"integer","format":"int"},"created_date":{"type":"string","format":"datetime"},"last_upd_date":{"type":"string","format":"datetime"},"last_upd_id":{"type":"integer","format":"int"}}},"Commits":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"plugin_name":{"type":"string","format":"varchar"},"name":{"type":"string","format":"varchar"},"description":{"type":"string","format":"varchar"},"is_commited":{"type":"integer","format":"int"},"created_at":{"type":"string","format":"timestamp"}}},"SystemAdminMenu":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"parent":{"type":"integer","format":"int"},"plugin_name_fk":{"$ref":"#\/definitions\/SystemAdminPlugins"},"display_name":{"type":"string","format":"varchar"},"link":{"type":"string","format":"varchar"},"priority":{"type":"integer","format":"int"},"visible":{"type":"integer","format":"tinyint"},"target":{"type":"string","format":"varchar"},"cre_id":{"type":"integer","format":"int"},"date_created":{"type":"string","format":"datetime"},"upd_id":{"type":"integer","format":"int"},"date_updated":{"type":"string","format":"datetime"}}},"SystemAdminPlugins":{"type":"object","properties":{"plugin_name":{"type":"string","format":"varchar"},"status":{"type":"string","enum":["installed","uninstalled"],"default":"installed"},"version_date":{"type":"string","format":"date"},"cre_id":{"type":"integer","format":"int"},"date_created":{"type":"string","format":"datetime"},"upd_id":{"type":"integer","format":"int"},"date_updated":{"type":"string","format":"datetime"}}},"Testing":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"title":{"type":"string","format":"varchar"},"description1":{"type":"string","format":"text"},"year":{"type":"integer","format":"int"},"created_id":{"type":"integer","format":"int"},"created_at":{"type":"string","format":"datetime"},"updated_id":{"type":"integer","format":"int"},"updated_at":{"type":"string","format":"timestamp"},"admin_id":{"$ref":"#\/definitions\/Admins"}}}}}