{"swagger":"2.0","info":{"description":"This is Rest API Documentation","version":"1.0.0","contact":{"email":"api@api.com"},"title":"Rest API","license":{"name":"API Generate","url":"http:\/\/api.socialcontrast.com"}},"host":"api.socialcontrast.com","basePath":"\/api\/plugin_creator\/andres","tags":[{"name":"books","description":"books API"},{"name":"posts","description":"posts API"},{"name":"profiles","description":"profiles API"},{"name":"sample","description":"sample API"},{"name":"test","description":"test API"}],"paths":{"\/books\/read":{"get":{"tags":["books"],"summary":"Read Books","description":"Read Books","operationId":"readBooks","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"book_name","in":"query","description":"book_name","required":false,"type":"string"},{"name":"publish_year","in":"query","description":"publish_year","required":false,"type":"integer"},{"name":"author","in":"query","description":"author","required":false,"type":"string"},{"name":"bigo","in":"query","description":"bigo","required":false,"type":"string"},{"name":"note","in":"query","description":"note","required":false,"type":"string"},{"name":"enumb","in":"query","description":"enumb","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/create":{"post":{"tags":["books"],"summary":"Create Books","description":"Create Books","operationId":"createBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"book_name","in":"formData","description":"book_name","required":true,"type":"string"},{"name":"publish_year","in":"formData","description":"publish_year","required":true,"type":"integer"},{"name":"author","in":"formData","description":"author","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"},{"name":"note","in":"formData","description":"note","required":true,"type":"string"},{"name":"enumb","in":"formData","description":"enumb","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/update":{"put":{"tags":["books"],"summary":"Update Books","description":"Update Books","operationId":"updateBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"book_name","in":"formData","description":"book_name","required":true,"type":"string"},{"name":"publish_year","in":"formData","description":"publish_year","required":true,"type":"integer"},{"name":"author","in":"formData","description":"author","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"},{"name":"note","in":"formData","description":"note","required":true,"type":"string"},{"name":"enumb","in":"formData","description":"enumb","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/delete":{"delete":{"tags":["books"],"summary":"Delete Books","description":"Delete Books","operationId":"deleteBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/addupdate":{"post":{"tags":["books"],"summary":"AddUpdate Books","description":"AddUpdate Books","operationId":"addupdateBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"book_name","in":"formData","description":"book_name","required":true,"type":"string"},{"name":"publish_year","in":"formData","description":"publish_year","required":true,"type":"integer"},{"name":"author","in":"formData","description":"author","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"},{"name":"note","in":"formData","description":"note","required":true,"type":"string"},{"name":"enumb","in":"formData","description":"enumb","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/read":{"get":{"tags":["posts"],"summary":"Read Posts","description":"Read Posts","operationId":"readPosts","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"title","in":"query","description":"title","required":false,"type":"string"},{"name":"content","in":"query","description":"content","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/create":{"post":{"tags":["posts"],"summary":"Create Posts","description":"Create Posts","operationId":"createPosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"content","in":"formData","description":"content","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/update":{"put":{"tags":["posts"],"summary":"Update Posts","description":"Update Posts","operationId":"updatePosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"content","in":"formData","description":"content","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/delete":{"delete":{"tags":["posts"],"summary":"Delete Posts","description":"Delete Posts","operationId":"deletePosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/addupdate":{"post":{"tags":["posts"],"summary":"AddUpdate Posts","description":"AddUpdate Posts","operationId":"addupdatePosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"content","in":"formData","description":"content","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/read":{"get":{"tags":["profiles"],"summary":"Read Profiles","description":"Read Profiles","operationId":"readProfiles","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"photo","in":"query","description":"photo","required":false,"type":"string"},{"name":"bigo","in":"query","description":"bigo","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/create":{"post":{"tags":["profiles"],"summary":"Create Profiles","description":"Create Profiles","operationId":"createProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"photo","in":"formData","description":"photo","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/update":{"put":{"tags":["profiles"],"summary":"Update Profiles","description":"Update Profiles","operationId":"updateProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"photo","in":"formData","description":"photo","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/delete":{"delete":{"tags":["profiles"],"summary":"Delete Profiles","description":"Delete Profiles","operationId":"deleteProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/addupdate":{"post":{"tags":["profiles"],"summary":"AddUpdate Profiles","description":"AddUpdate Profiles","operationId":"addupdateProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"photo","in":"formData","description":"photo","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/read":{"get":{"tags":["sample"],"summary":"Read Sample","description":"Read Sample","operationId":"readSample","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"ab","in":"query","description":"ab","required":false,"type":"string"},{"name":"fewf","in":"query","description":"fewf","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/create":{"post":{"tags":["sample"],"summary":"Create Sample","description":"Create Sample","operationId":"createSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"fewf","in":"formData","description":"fewf","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/update":{"put":{"tags":["sample"],"summary":"Update Sample","description":"Update Sample","operationId":"updateSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"fewf","in":"formData","description":"fewf","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/delete":{"delete":{"tags":["sample"],"summary":"Delete Sample","description":"Delete Sample","operationId":"deleteSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/addupdate":{"post":{"tags":["sample"],"summary":"AddUpdate Sample","description":"AddUpdate Sample","operationId":"addupdateSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"fewf","in":"formData","description":"fewf","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/read":{"get":{"tags":["test"],"summary":"Read Test","description":"Read Test","operationId":"readTest","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"cloudid","in":"query","description":"cloudid","required":false,"type":"integer"},{"name":"a","in":"query","description":"a","required":false,"type":"string"},{"name":"externalcode","in":"query","description":"externalcode","required":false,"type":"string"},{"name":"b","in":"query","description":"b","required":false,"type":"string"},{"name":"c","in":"query","description":"c","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/create":{"post":{"tags":["test"],"summary":"Create Test","description":"Create Test","operationId":"createTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"cloudid","in":"formData","description":"cloudid","required":true,"type":"integer"},{"name":"a","in":"formData","description":"a","required":true,"type":"string"},{"name":"externalcode","in":"formData","description":"externalcode","required":true,"type":"string"},{"name":"b","in":"formData","description":"b","required":true,"type":"string"},{"name":"c","in":"formData","description":"c","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/update":{"put":{"tags":["test"],"summary":"Update Test","description":"Update Test","operationId":"updateTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"cloudid","in":"formData","description":"cloudid","required":true,"type":"integer"},{"name":"a","in":"formData","description":"a","required":true,"type":"string"},{"name":"externalcode","in":"formData","description":"externalcode","required":true,"type":"string"},{"name":"b","in":"formData","description":"b","required":true,"type":"string"},{"name":"c","in":"formData","description":"c","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/delete":{"delete":{"tags":["test"],"summary":"Delete Test","description":"Delete Test","operationId":"deleteTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/addupdate":{"post":{"tags":["test"],"summary":"AddUpdate Test","description":"AddUpdate Test","operationId":"addupdateTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"cloudid","in":"formData","description":"cloudid","required":true,"type":"integer"},{"name":"a","in":"formData","description":"a","required":true,"type":"string"},{"name":"externalcode","in":"formData","description":"externalcode","required":true,"type":"string"},{"name":"b","in":"formData","description":"b","required":true,"type":"string"},{"name":"c","in":"formData","description":"c","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}}},"definitions":{"Books":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"book_name":{"type":"string","format":"varchar"},"publish_year":{"type":"integer","format":"int"},"author":{"type":"string","format":"varchar"},"bigo":{"type":"string","format":"varchar"},"note":{"type":"string","format":"text"},"enumb":{"type":"string","enum":["choe","pak","kim","joe"],"default":"choe"}}},"Posts":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"title":{"type":"string","format":"varchar"},"content":{"type":"string","format":"text"}}},"Profiles":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"name":{"type":"string","format":"varchar"},"photo":{"type":"string","format":"varchar"},"bigo":{"type":"string","format":"varchar"}}},"Sample":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"ab":{"type":"string","format":"varchar"},"fewf":{"type":"string","format":"varchar"}}},"Test":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"cloudid":{"type":"integer","format":"int"},"a":{"type":"string","format":"varchar"},"externalcode":{"type":"string","format":"varchar"},"b":{"type":"string","format":"varchar"},"c":{"type":"string","format":"varchar"}}}}}