{"swagger":"2.0","info":{"description":"This is Rest API Documentation","version":"1.0.0","contact":{"email":"api@api.com"},"title":"Rest API","license":{"name":"API Generate","url":"http:\/\/api.socialcontrast.com"}},"host":"api.socialcontrast.com","basePath":"\/api\/plugin_creator\/andres","tags":[{"name":"aaabbbccc","description":"aaabbbccc API"},{"name":"aabbcc","description":"aabbcc API"},{"name":"books","description":"books API"},{"name":"post_comment","description":"post_comment API"},{"name":"posts","description":"posts API"},{"name":"profiles","description":"profiles API"},{"name":"sampe","description":"sampe API"},{"name":"sample","description":"sample API"},{"name":"sample_profile","description":"sample_profile API"},{"name":"taxes","description":"taxes API"},{"name":"test","description":"test API"}],"paths":{"\/aaabbbccc\/read":{"get":{"tags":["aaabbbccc"],"summary":"Read Aaabbbccc","description":"Read Aaabbbccc","operationId":"readAaabbbccc","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"bbb","in":"query","description":"bbb","required":false,"type":"string"},{"name":"ccc","in":"query","description":"ccc","required":false,"type":"string"},{"name":"ddd","in":"query","description":"ddd","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aaabbbccc\/create":{"post":{"tags":["aaabbbccc"],"summary":"Create Aaabbbccc","description":"Create Aaabbbccc","operationId":"createAaabbbccc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"bbb","in":"formData","description":"bbb","required":true,"type":"string"},{"name":"ccc","in":"formData","description":"ccc","required":true,"type":"string"},{"name":"ddd","in":"formData","description":"ddd","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aaabbbccc\/update":{"put":{"tags":["aaabbbccc"],"summary":"Update Aaabbbccc","description":"Update Aaabbbccc","operationId":"updateAaabbbccc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"bbb","in":"formData","description":"bbb","required":true,"type":"string"},{"name":"ccc","in":"formData","description":"ccc","required":true,"type":"string"},{"name":"ddd","in":"formData","description":"ddd","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aaabbbccc\/delete":{"delete":{"tags":["aaabbbccc"],"summary":"Delete Aaabbbccc","description":"Delete Aaabbbccc","operationId":"deleteAaabbbccc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aaabbbccc\/addupdate":{"post":{"tags":["aaabbbccc"],"summary":"AddUpdate Aaabbbccc","description":"AddUpdate Aaabbbccc","operationId":"addupdateAaabbbccc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"bbb","in":"formData","description":"bbb","required":true,"type":"string"},{"name":"ccc","in":"formData","description":"ccc","required":true,"type":"string"},{"name":"ddd","in":"formData","description":"ddd","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aabbcc\/read":{"get":{"tags":["aabbcc"],"summary":"Read Aabbcc","description":"Read Aabbcc","operationId":"readAabbcc","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"ab","in":"query","description":"ab","required":false,"type":"string"},{"name":"cd","in":"query","description":"cd","required":false,"type":"string"},{"name":"created_id","in":"query","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"query","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"query","description":"updated_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aabbcc\/create":{"post":{"tags":["aabbcc"],"summary":"Create Aabbcc","description":"Create Aabbcc","operationId":"createAabbcc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"cd","in":"formData","description":"cd","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aabbcc\/update":{"put":{"tags":["aabbcc"],"summary":"Update Aabbcc","description":"Update Aabbcc","operationId":"updateAabbcc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"cd","in":"formData","description":"cd","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aabbcc\/delete":{"delete":{"tags":["aabbcc"],"summary":"Delete Aabbcc","description":"Delete Aabbcc","operationId":"deleteAabbcc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/aabbcc\/addupdate":{"post":{"tags":["aabbcc"],"summary":"AddUpdate Aabbcc","description":"AddUpdate Aabbcc","operationId":"addupdateAabbcc","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"cd","in":"formData","description":"cd","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/read":{"get":{"tags":["books"],"summary":"Read Books","description":"Read Books","operationId":"readBooks","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"book_name","in":"query","description":"book_name","required":false,"type":"string"},{"name":"publish_year","in":"query","description":"publish_year","required":false,"type":"integer"},{"name":"author","in":"query","description":"author","required":false,"type":"string"},{"name":"bigo","in":"query","description":"bigo","required":false,"type":"string"},{"name":"note","in":"query","description":"note","required":false,"type":"string"},{"name":"enumb","in":"query","description":"enumb","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/create":{"post":{"tags":["books"],"summary":"Create Books","description":"Create Books","operationId":"createBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"book_name","in":"formData","description":"book_name","required":true,"type":"string"},{"name":"publish_year","in":"formData","description":"publish_year","required":true,"type":"integer"},{"name":"author","in":"formData","description":"author","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"},{"name":"note","in":"formData","description":"note","required":true,"type":"string"},{"name":"enumb","in":"formData","description":"enumb","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/update":{"put":{"tags":["books"],"summary":"Update Books","description":"Update Books","operationId":"updateBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"book_name","in":"formData","description":"book_name","required":true,"type":"string"},{"name":"publish_year","in":"formData","description":"publish_year","required":true,"type":"integer"},{"name":"author","in":"formData","description":"author","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"},{"name":"note","in":"formData","description":"note","required":true,"type":"string"},{"name":"enumb","in":"formData","description":"enumb","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/delete":{"delete":{"tags":["books"],"summary":"Delete Books","description":"Delete Books","operationId":"deleteBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/books\/addupdate":{"post":{"tags":["books"],"summary":"AddUpdate Books","description":"AddUpdate Books","operationId":"addupdateBooks","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"book_name","in":"formData","description":"book_name","required":true,"type":"string"},{"name":"publish_year","in":"formData","description":"publish_year","required":true,"type":"integer"},{"name":"author","in":"formData","description":"author","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"},{"name":"note","in":"formData","description":"note","required":true,"type":"string"},{"name":"enumb","in":"formData","description":"enumb","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/post_comment\/read":{"get":{"tags":["post_comment"],"summary":"Read PostComment","description":"Read PostComment","operationId":"readPostComment","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"post_id1","in":"query","description":"post_id1","required":false,"type":"string"},{"name":"photo2","in":"query","description":"photo2","required":false,"type":"string"},{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"created_id","in":"query","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"query","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"query","description":"updated_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/post_comment\/create":{"post":{"tags":["post_comment"],"summary":"Create PostComment","description":"Create PostComment","operationId":"createPostComment","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"post_id1","in":"formData","description":"post_id1","required":true,"type":"string"},{"name":"photo2","in":"formData","description":"photo2","required":true,"type":"string"},{"name":"description","in":"formData","description":"description","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/post_comment\/update":{"put":{"tags":["post_comment"],"summary":"Update PostComment","description":"Update PostComment","operationId":"updatePostComment","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"post_id1","in":"formData","description":"post_id1","required":true,"type":"string"},{"name":"photo2","in":"formData","description":"photo2","required":true,"type":"string"},{"name":"description","in":"formData","description":"description","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/post_comment\/delete":{"delete":{"tags":["post_comment"],"summary":"Delete PostComment","description":"Delete PostComment","operationId":"deletePostComment","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/post_comment\/addupdate":{"post":{"tags":["post_comment"],"summary":"AddUpdate PostComment","description":"AddUpdate PostComment","operationId":"addupdatePostComment","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"post_id1","in":"formData","description":"post_id1","required":true,"type":"string"},{"name":"photo2","in":"formData","description":"photo2","required":true,"type":"string"},{"name":"description","in":"formData","description":"description","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/read":{"get":{"tags":["posts"],"summary":"Read Posts","description":"Read Posts","operationId":"readPosts","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"title","in":"query","description":"title","required":false,"type":"string"},{"name":"content","in":"query","description":"content","required":false,"type":"string"},{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/create":{"post":{"tags":["posts"],"summary":"Create Posts","description":"Create Posts","operationId":"createPosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"title","in":"formData","description":"title","required":false,"type":"string"},{"name":"content","in":"formData","description":"content","required":true,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/update":{"put":{"tags":["posts"],"summary":"Update Posts","description":"Update Posts","operationId":"updatePosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"content","in":"formData","description":"content","required":true,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/delete":{"delete":{"tags":["posts"],"summary":"Delete Posts","description":"Delete Posts","operationId":"deletePosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/posts\/addupdate":{"post":{"tags":["posts"],"summary":"AddUpdate Posts","description":"AddUpdate Posts","operationId":"addupdatePosts","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"title","in":"formData","description":"title","required":true,"type":"string"},{"name":"content","in":"formData","description":"content","required":true,"type":"string"},{"name":"description","in":"formData","description":"description","required":false,"type":"string"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/read":{"get":{"tags":["profiles"],"summary":"Read Profiles","description":"Read Profiles","operationId":"readProfiles","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"photo","in":"query","description":"photo","required":false,"type":"string"},{"name":"bigo","in":"query","description":"bigo","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/create":{"post":{"tags":["profiles"],"summary":"Create Profiles","description":"Create Profiles","operationId":"createProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"photo","in":"formData","description":"photo","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/update":{"put":{"tags":["profiles"],"summary":"Update Profiles","description":"Update Profiles","operationId":"updateProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"photo","in":"formData","description":"photo","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/delete":{"delete":{"tags":["profiles"],"summary":"Delete Profiles","description":"Delete Profiles","operationId":"deleteProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/profiles\/addupdate":{"post":{"tags":["profiles"],"summary":"AddUpdate Profiles","description":"AddUpdate Profiles","operationId":"addupdateProfiles","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"photo","in":"formData","description":"photo","required":true,"type":"string"},{"name":"bigo","in":"formData","description":"bigo","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sampe\/read":{"get":{"tags":["sampe"],"summary":"Read Sampe","description":"Read Sampe","operationId":"readSampe","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"s","in":"query","description":"s","required":false,"type":"string"},{"name":"f","in":"query","description":"f","required":false,"type":"string"},{"name":"w","in":"query","description":"w","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sampe\/create":{"post":{"tags":["sampe"],"summary":"Create Sampe","description":"Create Sampe","operationId":"createSampe","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"s","in":"formData","description":"s","required":true,"type":"string"},{"name":"f","in":"formData","description":"f","required":true,"type":"string"},{"name":"w","in":"formData","description":"w","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sampe\/update":{"put":{"tags":["sampe"],"summary":"Update Sampe","description":"Update Sampe","operationId":"updateSampe","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"s","in":"formData","description":"s","required":true,"type":"string"},{"name":"f","in":"formData","description":"f","required":true,"type":"string"},{"name":"w","in":"formData","description":"w","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sampe\/delete":{"delete":{"tags":["sampe"],"summary":"Delete Sampe","description":"Delete Sampe","operationId":"deleteSampe","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sampe\/addupdate":{"post":{"tags":["sampe"],"summary":"AddUpdate Sampe","description":"AddUpdate Sampe","operationId":"addupdateSampe","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"s","in":"formData","description":"s","required":true,"type":"string"},{"name":"f","in":"formData","description":"f","required":true,"type":"string"},{"name":"w","in":"formData","description":"w","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/read":{"get":{"tags":["sample"],"summary":"Read Sample","description":"Read Sample","operationId":"readSample","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"ab","in":"query","description":"ab","required":false,"type":"string"},{"name":"fewf","in":"query","description":"fewf","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/create":{"post":{"tags":["sample"],"summary":"Create Sample","description":"Create Sample","operationId":"createSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"fewf","in":"formData","description":"fewf","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/update":{"put":{"tags":["sample"],"summary":"Update Sample","description":"Update Sample","operationId":"updateSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"fewf","in":"formData","description":"fewf","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/delete":{"delete":{"tags":["sample"],"summary":"Delete Sample","description":"Delete Sample","operationId":"deleteSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample\/addupdate":{"post":{"tags":["sample"],"summary":"AddUpdate Sample","description":"AddUpdate Sample","operationId":"addupdateSample","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"ab","in":"formData","description":"ab","required":true,"type":"string"},{"name":"fewf","in":"formData","description":"fewf","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample_profile\/read":{"get":{"tags":["sample_profile"],"summary":"Read SampleProfile","description":"Read SampleProfile","operationId":"readSampleProfile","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"photo1","in":"query","description":"photo1","required":false,"type":"string"},{"name":"section1","in":"query","description":"section1","required":false,"type":"string"},{"name":"post_id","in":"query","description":"post_id","required":false,"type":"string"},{"name":"created_id","in":"query","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"query","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"query","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"query","description":"updated_at","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample_profile\/create":{"post":{"tags":["sample_profile"],"summary":"Create SampleProfile","description":"Create SampleProfile","operationId":"createSampleProfile","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"photo1","in":"formData","description":"photo1","required":true,"type":"string"},{"name":"section1","in":"formData","description":"section1","required":true,"type":"string"},{"name":"post_id","in":"formData","description":"post_id","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample_profile\/update":{"put":{"tags":["sample_profile"],"summary":"Update SampleProfile","description":"Update SampleProfile","operationId":"updateSampleProfile","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"photo1","in":"formData","description":"photo1","required":true,"type":"string"},{"name":"section1","in":"formData","description":"section1","required":true,"type":"string"},{"name":"post_id","in":"formData","description":"post_id","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample_profile\/delete":{"delete":{"tags":["sample_profile"],"summary":"Delete SampleProfile","description":"Delete SampleProfile","operationId":"deleteSampleProfile","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/sample_profile\/addupdate":{"post":{"tags":["sample_profile"],"summary":"AddUpdate SampleProfile","description":"AddUpdate SampleProfile","operationId":"addupdateSampleProfile","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"photo1","in":"formData","description":"photo1","required":true,"type":"string"},{"name":"section1","in":"formData","description":"section1","required":true,"type":"string"},{"name":"post_id","in":"formData","description":"post_id","required":true,"type":"string"},{"name":"created_id","in":"formData","description":"created_id","required":false,"type":"integer"},{"name":"created_at","in":"formData","description":"created_at","required":false,"type":"string"},{"name":"updated_id","in":"formData","description":"updated_id","required":false,"type":"integer"},{"name":"updated_at","in":"formData","description":"updated_at","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/taxes\/read":{"get":{"tags":["taxes"],"summary":"Read Taxes","description":"Read Taxes","operationId":"readTaxes","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"percentage","in":"query","description":"percentage","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/taxes\/create":{"post":{"tags":["taxes"],"summary":"Create Taxes","description":"Create Taxes","operationId":"createTaxes","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"percentage","in":"formData","description":"percentage","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/taxes\/update":{"put":{"tags":["taxes"],"summary":"Update Taxes","description":"Update Taxes","operationId":"updateTaxes","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"percentage","in":"formData","description":"percentage","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/taxes\/delete":{"delete":{"tags":["taxes"],"summary":"Delete Taxes","description":"Delete Taxes","operationId":"deleteTaxes","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/taxes\/addupdate":{"post":{"tags":["taxes"],"summary":"AddUpdate Taxes","description":"AddUpdate Taxes","operationId":"addupdateTaxes","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"name","in":"formData","description":"name","required":true,"type":"string"},{"name":"percentage","in":"formData","description":"percentage","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/read":{"get":{"tags":["test"],"summary":"Read Test","description":"Read Test","operationId":"readTest","consumes":["application\/json"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer"},{"name":"cloudid","in":"query","description":"cloudid","required":false,"type":"integer"},{"name":"a","in":"query","description":"a","required":false,"type":"string"},{"name":"externalcode","in":"query","description":"externalcode","required":false,"type":"string"},{"name":"b","in":"query","description":"b","required":false,"type":"string"},{"name":"c","in":"query","description":"c","required":false,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/create":{"post":{"tags":["test"],"summary":"Create Test","description":"Create Test","operationId":"createTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"cloudid","in":"formData","description":"cloudid","required":true,"type":"integer"},{"name":"a","in":"formData","description":"a","required":true,"type":"string"},{"name":"externalcode","in":"formData","description":"externalcode","required":true,"type":"string"},{"name":"b","in":"formData","description":"b","required":true,"type":"string"},{"name":"c","in":"formData","description":"c","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/update":{"put":{"tags":["test"],"summary":"Update Test","description":"Update Test","operationId":"updateTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"cloudid","in":"formData","description":"cloudid","required":true,"type":"integer"},{"name":"a","in":"formData","description":"a","required":true,"type":"string"},{"name":"externalcode","in":"formData","description":"externalcode","required":true,"type":"string"},{"name":"b","in":"formData","description":"b","required":true,"type":"string"},{"name":"c","in":"formData","description":"c","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/delete":{"delete":{"tags":["test"],"summary":"Delete Test","description":"Delete Test","operationId":"deleteTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}},"\/test\/addupdate":{"post":{"tags":["test"],"summary":"AddUpdate Test","description":"AddUpdate Test","operationId":"addupdateTest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"parameters":[{"name":"id","in":"formData","description":"id","required":true,"type":"integer"},{"name":"cloudid","in":"formData","description":"cloudid","required":true,"type":"integer"},{"name":"a","in":"formData","description":"a","required":true,"type":"string"},{"name":"externalcode","in":"formData","description":"externalcode","required":true,"type":"string"},{"name":"b","in":"formData","description":"b","required":true,"type":"string"},{"name":"c","in":"formData","description":"c","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid Parameters"}}}}},"definitions":{"Aaabbbccc":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"bbb":{"type":"string","format":"varchar"},"ccc":{"type":"string","format":"varchar"},"ddd":{"type":"string","format":"varchar"}}},"Aabbcc":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"ab":{"type":"string","format":"datetime"},"cd":{"type":"string","format":"varchar"},"created_id":{"type":"integer","format":"int"},"created_at":{"type":"string","format":"datetime"},"updated_id":{"type":"integer","format":"int"},"updated_at":{"type":"string","format":"timestamp"}}},"Books":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"book_name":{"type":"string","format":"varchar"},"publish_year":{"type":"integer","format":"int"},"author":{"type":"string","format":"varchar"},"bigo":{"type":"string","format":"varchar"},"note":{"type":"string","format":"text"},"enumb":{"type":"string","enum":["choe","pak","kim","joe"],"default":"choe"}}},"PostComment":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"post_id1":{"$ref":"#\/definitions\/Posts"},"photo2":{"type":"string","format":"varchar"},"description":{"type":"string","format":"text"},"created_id":{"type":"integer","format":"int"},"created_at":{"type":"string","format":"datetime"},"updated_id":{"type":"integer","format":"int"},"updated_at":{"type":"string","format":"timestamp"}}},"Posts":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"title":{"type":"string","format":"varchar"},"content":{"type":"string","format":"text"},"description":{"type":"string","format":"text"},"created_at":{"type":"string","format":"timestamp"}}},"Profiles":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"name":{"type":"string","format":"varchar"},"photo":{"type":"string","format":"varchar"},"bigo":{"type":"string","format":"varchar"}}},"Sampe":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"s":{"type":"string","format":"varchar"},"f":{"type":"string","format":"varchar"},"w":{"type":"string","format":"varchar"}}},"Sample":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"ab":{"type":"string","format":"varchar"},"fewf":{"type":"string","format":"varchar"}}},"SampleProfile":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"photo1":{"type":"string","format":"varchar"},"section1":{"type":"string","format":"varchar"},"post_id":{"$ref":"#\/definitions\/Posts"},"created_id":{"type":"integer","format":"int"},"created_at":{"type":"string","format":"datetime"},"updated_id":{"type":"integer","format":"int"},"updated_at":{"type":"string","format":"timestamp"}}},"Taxes":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"name":{"type":"string","format":"varchar"},"percentage":{"type":"string","format":"varchar"}}},"Test":{"type":"object","properties":{"id":{"type":"integer","format":"int"},"cloudid":{"type":"integer","format":"int"},"a":{"type":"string","format":"varchar"},"externalcode":{"type":"string","format":"varchar"},"b":{"type":"string","format":"varchar"},"c":{"type":"string","format":"varchar"}}}}}