.font-bold{
    font-weight: bold  !important;
}
.main-body {
    padding: 0 2rem;
}
.mt-1r{
    margin-top: 1rem;
}

.m-1r{
    margin: 1rem;
}

.pt-1r{
    padding-top: 1rem;
}

.pt-2r{
    padding-top: 2rem;
}

.mb-1r{
    margin-bottom: 1rem;
}

.mb-2r{
    margin-bottom: 2rem;
}

.ml-1r{
    margin-left: 1rem;
}

.mr-1r{
    margin-right: 1rem;
}

.mt-24{
    margin-top: 24px;
}

.mt-30{
    margin-top: 30px;
}

.mt-10{
    margin-top: 10px;
}

.px-1r{
    padding: 1rem;
}

.hide{
    display: none !important;
}

.table-box{
    width: 33.33%;
}

.table-list{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    margin-right: 8px;
}

.flex-display{
    display: flex;
    align-items: flex-end;
}

.ajax-upload-dragdrop,
.ajax-file-upload-statusbar,
.ajax-file-upload-progress{
    width: 100% !important;
}

.ajax-file-upload-statusbar {
    border: 1px solid #0ba1b5;
    margin-top: 10px;
    width: 420px;
    margin-right: 10px;
    margin: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}







.database-gen .row{
    margin: 1rem 0;
}

.table-prop-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-prop-item .fa-arrows{
    width: 50px;
    cursor: pointer;
}

.field-props-wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.field-prpos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-props-edit{
    font-size: 14px;
    color: #000;
}

.column-detail-modal .modal-body{
    padding: 1rem 3rem;
}

.full-width{
    width: 100%;
}

.field-required{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table-property >.table-prop-item:not(:first-child) label{
    opacity: 0;
}

table{
    width: 100%;
}

.table-name-wrap > td{
    padding: 0;
    border: none;
    background: #007bff;
    color: white;
}




.database-gen .row{
    margin: 1rem 0;
}

.table-prop-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-prop-item .fa-arrows-alt{
    width: 50px;
    cursor: pointer;
}

.field-props-wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.field-prpos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-props-edit{
    font-size: 14px;
    color: #000;
}

.column-detail-modal .modal-body{
    padding: 1rem 3rem;
}

.full-width{
    width: 100%;
}

.field-required{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table-property >.table-prop-item:not(:first-child) label{
    opacity: 0;
}

.align-center{
    align-items: center;
}







.formbuilder-icon-file,
.formbuilder-icon-header,
.formbuilder-icon-hidden,
.formbuilder-icon-paragraph,
.formbuilder-icon-autocomplete,
.formbuilder-icon-button,
.description-wrap,
.placeholder-wrap,
.access-wrap
{
    display: none !important;
}


.form-group.component{
    padding: 3px;
    border: solid 1px #ced4da;
    padding-left: 10px;
}

.form-group.component i{
    margin-right: 7px;
    margin-top: -2px;
}



#components{
    min-height: 600px;
    margin-top: 5px;
  }
  #target, #json_zone{
    min-height: 500px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
  }

  #temp{
    width: 500px;
    background: white;
    border: 1px dotted #ccc;
    border-radius: 10px;
  }

  .popover-content form {
    margin: 0 auto;
    width: 213px;
  }
  .popover-content form .btn{
    margin-right: 10px
  }
  #source, #json_zone{
    min-height: 500px;
  }

  .popover{
    width: 100% !important;
  }

  .nav.nav-tabs a{
    padding:5px 7px 2px 7px;
    color: #000;
  }

  .nav.nav-tabs li a{
    border: solid 1px #ccc;
  }

.nav.nav-tabs li a.active{
    border-bottom: solid 2px #fff
}

.nav-tabs{
    border-bottom: none;
    position: relative;
    z-index: 1111;
}

#source {
    min-height: 500px;
    border: solid 1px #ccc;
    background-color: #fff;
}

.form-group.form-component{
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}

.form-group.component{
    cursor: pointer;
}

.valtype .radio, .valtype .checkbox{
    margin-right: 1rem;
}

.valtype .radio input, .valtype .checkbox input{
    margin-right: 5px;
}

.condition-wrap{
    text-align: center;
    border-radius: 18px;
    color: white;
    font-weight: bold;
}

.action-start{
    margin-top: 1rem;
    background: #ff976f;
}

.action-end{
    margin-top: 1rem;
    background-color:#ff6f6f;
}

.full-width{
    position: relative;
    width: 100%;
}

.check_item, .radio_item, .select_item{
    border: solid 1px #ced4da;
    padding: 11px 0;
    margin-bottom: 1rem;
    border-radius: 11px;
    position: relative;
}

.check_label, .radio_label, .select_label{
    position: absolute;
    left: 50%;
    margin-left: -51px;
    top: -14px;
    background: #f4f6f9;
    padding: 0 7px;
    z-index: 1;
}

.modal{
    z-index: 999999;
}

.accor_left{
    position: absolute;
    right: 10px;
    top: -8px;
    font-size: 24px;
    cursor: pointer;
}

.accor_right{
    position: absolute;
    left: 10px;
    top: -8px;
    font-size: 24px;
    cursor: pointer;
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}

.comp-wrap, .prop-wrap, .ele-wrap{
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.comp-wrap{
    position: relative;
    width: 267px;
}

.ele-wrap{
    position: relative;
    width: calc(100% - 668px);
    padding: 15px;
}

.prop-wrap{
    position: relative;
    width: 401px;
}

.ajax-file-upload-file-img{
    width: 100%;
    max-width: 200px;
}

.tab-content{
    border: solid 1px #ccc;
    margin-top: -1px;
}

.datepicker.dropdown-menu{
  padding: 0.7rem 1rem !important;
}

/*********************** overlay **************************/
.editor_overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 10000;
    transition: all 0.25s ease-in;
}

.rapi_edit_wrap{
    position: relative;
    display: block;
    min-height: 600px;
    height: 600px;
}

.editor_code_mirror{
    position: fixed;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 80%;
    background: white;
    z-index: 10000;
}

.editor_header{
    padding: 1rem;
    font-weight: bold;
    border-bottom: solid 1px #eee;
}

.editor_close_overlay{
    float: right;
    margin-top: 5px;
    cursor: pointer;
}

.editor_body{
    height: calc(80vh - 130px);
    position: relative;
    display: block;
}

.editor_code_area{
    height: 100%;
}

.editor_footer{
    position: relative;
    padding: 1rem;
    border-top: solid 1px #eee;
}

.CodeMirror{
    height: 100% !important;
}

.hidden{
    opacity: 0;
    z-index: -1;
}


.tablequery_code_area,
.tablequery_code_area:focus
{
  height: 162px !important;
  background: #1F2430 !important;
  color: gray !important;
  font-size: 18px !important;
  padding-left: 16px !important;
}


.dt_columns_visibility{
  position: relative;
  z-index: 1;
}

.dt_column_title{
  height: 30px;
  width: 180px;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
}

.dt_column_title::after{
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dt_columns_visibility ul{
  position: absolute;
  left: 0;
  width: 180px;
  background: white;
  box-shadow: 1px 1px 6px grey;
  border-radius: 3px;
  padding: 0;
  top: 30px;
  overflow: hidden;
  display: none;
}

.dt_columns_visibility.select ul{
  display: block;
}

.dt_columns_visibility ul li {
  list-style: none;
  padding: 5px 10px 5px;
  background: white;
  color: #333;
  cursor: pointer;
}

.dt_columns_visibility ul li:hover{
  background-color: gray !important;
}

.dt_columns_visibility ul li.selected {
  background: #333;
  color: white;
}


.multiselect-native-select > .btn-group{
  z-index: 1111;
}
